/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}
#categories-menu{
	display: flex;
	justify-content: center;
	padding-top: 20px;
	padding-bottom: 50px;
	gap: 10px;


}
#categories-menu button {
	border-radius: 60px;
	padding: 6px;
	background-color: white;
	font-size: 14px;
	font-family: 'Syne';
	border: color(black);
	color: #1D6154;
	border-color: black;
	border: solid 0.5px;
}
#categories-menu button:hover {
	background-color: #1D6154;
	color:white;
}
#categories-menu button.active {
	background-color: #1D6154;
	color: white;
  }
nav ul li a {
    text-decoration: none;
    color: inherit;
}

nav ul li a:active {
    font-weight: bold;
}
nav li img {
    width: 50%;

}

.container{
	padding: 10px;
	display: flex;
	justify-content: center;
}
#login-form{

	margin:30px;
	display: inline;


}
footer{
	display: flex;
	justify-content: right;
}

#login-form button {
	display: flex;
	justify-content: flex-start;
	background-color: #1D6154;
	color:white;
	border-radius: 60px;
	font-family:'Syne';
	font-size: 12px;
	padding: 10px 25px 10px 25px;
	margin-top: 30px;
	margin-bottom: 30px;
		
}
#password{
	padding: 10px 75px 10px 75px;
	margin-top: 15px;
	border-color: transparent;
	border-radius: 3px;
	box-shadow:2px 2px 2px 2px rgba(0, 0, 0, 0.1)
}
#email{
	padding: 10px 75px 10px 75px;
	margin-top: 15px;
	margin-bottom: 20px;
	border-color: transparent;
	border-radius: 3px;
	box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1)
}
#bandeau{
	background-color: black;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    font-size: 1em;
}

.modal-btn {
	padding: 0;
	font-size: 18px;
	margin: auto;
	border: none;
	background-color: #fff;
	cursor: pointer;
	display: flex;
	
  }
  
  .modal-container {
	/* display: none; */
	visibility: hidden;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition: visibility 0.4s;
	
  }
  .modal-container.active {
	/* display: block; */
	visibility: visible;
  }
  
  .overlay {
	opacity: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	background: #333333d3;
	transition: opacity 0.4s 0.2s ease-out;
  }
  .modal-container.active .overlay {
	opacity: 1;
	transition: opacity 0.4s ease-out;
  }
  
  .modal {
	opacity: 0;
	width: 50%;
	height: 70%;
	padding: 30px;
	background-color: #fff;
	border-radius: 5px;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, calc(-50% - 50px));
	transition: opacity 0.4s ease-out,
	transform 0.4s ease-out;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	
  }
  
  .modal-container.active .modal {
	opacity: 1;
	transform: translate(-50%, -50%);
	transition: opacity 0.4s 0.2s ease-out,
	transform 0.4s 0.2s ease-out;
  }
  
  .close-modal {
	
	border: none;
	border-radius: 5px;
	font-size: 14px;
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
	background:white;
	color: black;
  }
  .modal h2 {
	margin-bottom: 10px;
	font-size: 1.4em;
	font-weight: 500;
	color: black;
	display: flex;
	justify-content: center;
	
  }
   .addPhoto{
	
	justify-content: center;
	background-color: #1D6154;
	color:white;
	border-radius: 60px;
	font-family:'Syne';
	font-size: 14px;
	padding: 10px 25px 10px 25px;
	margin-bottom: 0;
	width:30%;
	margin-left: 35%;
	margin-top: 10px;
  }
  /* Ajoutez ces règles en bas de votre fichier CSS */

  .modal .galerieModal {
	display: grid;
	grid-template-columns: repeat(5, 1fr);

	gap: 5px;

	height: 100%;
	 /* Ajoute un peu de padding pour l'esthétique */
  }
  
  .modal .galerieModal figure {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	
  }
  
  .modal .galerieModal img {
	width: 60%;
	height: 70%;
	display: block;

  }
  .modal .galerieModal button {
	position: absolute;
	background-color: black;
	color: white;
	cursor: pointer;
	display: flex;
	flex-direction: row;
  }
  